<div class="about-section">
    <h1 class="fw-bold">Hakkımızda</h1>
    <p class="fs-2">Araç kiralamada daima yeni ve güvenli araç, yüksek hizmet kalitesi ve ekonomik fiyat garantisi sunmaktır.</p>
    <p class="fs-4 text-decoration-underline">Ülkemizde araç kiralama sektörünün en güçlü yerli markası olmak ve kıyaslanamaz müşteri sadakatini sağlamaktır.</p>
  </div>
  
  <h2 style="text-align:center">Başarılarımız</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="{{imageUrl}}/uploads/odul.png" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Türkiye en iyi araç kiralama sitesi.</h2>
          <p class="title">Ödül</p>
          <p>Rent-Car</p>
          <p>rentcar@rentcar.com</p>
          
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <img src="{{imageUrl}}/uploads/odul.png" alt="Mike" style="width:100%">
          <div class="container">
            <h2>Dünya listesinde 5. sıradayız</h2>
            <p class="title">Sıralama</p>
            <p>Rent-Car</p>
            <p>rentcar@rentcar.com</p>
            
          </div>
        </div>
      </div>