
      <div class="row">
        <div class="col-md-3">
          <div class="sticky-top sidebar m-2">
            <div class="box"><app-brand></app-brand></div>
            
          </div>
          
        </div>  
        
      
        <div class="col-md-6 ms-2">
          <div class="body">
      
            <div *ngIf="!(cars && (brands || colors))" class="alert alert-info w-100" role="alert">
              Araba Yok
            </div>
            
   
            
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3" *ngFor="let car of cars ">
            <div  class="card" style="width: 100%;">
                <img src="{{imageUrl}}{{car.imagePath}}" class="card-img-top" alt="Araba Resmi">
                <div class="card-body">
                  <h5 class="card-title text-center">{{car.descriptions | uppercase}}</h5>
                  <hr>
                  <p> <b>Marka :</b> {{car.brandName }} </p>
                  <hr>
                  <p> <b>Model Yılı :</b> {{car.modelYear}} </p>
                  <hr>
                  <p> <b class="pull-left">Günlük Fiyatı :</b> {{car.dailyPrice|currency: "TRY":""}} ₺</p>
                  <hr>
                  <p> <b>Renk :</b> {{car.colorName}} </p>
                  <hr>
                  <a routerLink="/cars/details/{{car.carId}}" class="btn btn-outline-dark mt-2">Detay</a>
                </div>
              </div>
            </div>
          </div>
    
        </div>
      </div>
    </div>
